target/
.classpath
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs
.vscode
.project
.checkstyle
*.DS_Store
.idea
SQLancer.iml
dependency-reduced-pom.xml
database0.db
databaseconnectiontest.db
database*.log
database*.properties
database*.script
databases/